{% extends 'index.html' %}
{% load static %}
{% block title %} Page Not Found   {% endblock %}
{% block content %}

    <div class="container text-center" style="position: relative; bottom: 100px;" >
        <div class="row">
            <div class="col-md-12">
                <div class="error-template text-white">
                    <h1>
                        Oops!</h1>
                    <h2 style="margin-bottom: 5px;" >
                        404 Not Found</h2>
                    <div class="error-details" style="margin-bottom: 10px;" >
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a href="/view/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                            Take Me Home </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}