<script src="../static/admin/folder/js/wallet/management.js"></script>
{% extends 'masterpage/index-1.html' %}
{% block title3 %} Search Page {% endblock %}
{% load static %}

{% block content %}


<!-- Main content -->
<div class="content-wrapper">

    <section class="content">
        <div class="row">
            <div class="col-md-12" style="padding: 0;border-bottom: 2px solid rgba(120,130,140,.13);margin-bottom: 25px; display:flex;" >
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="box">
                        <div class="box-body">
                            <div class="text-center">
                                <h3 class="text-muted db">
                                    <button onclick="chart_shows(['food', 'default', 'transport', 'salary', 'bouns', 'other', 'study', 'clothes', 'bike', 'collage food', 'chrg', 'medicine'], [100, 300, 230, 400, 200, 150, 70, 90, 120, 210, 300, 99]);" >
                                        Chart Page
                                    </button>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Pie Chart</h3>

                        <ul class="box-controls pull-right">
                            <li><a class="box-btn-close" href="#"></a></li>
                            <li><a class="box-btn-slide" href="#"></a></li>
                            <li><a class="box-btn-fullscreen" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="chart_6"
                            style="width:400px !important; height: 400px !important;"></canvas>
                        </div>
                    </div>
                <!-- /.box-body -->
                </div>
            </div>

        </div>

    </section>
<!-- /.content -->
</div>



<!-- sample modal content -->
{% endblock %}