{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Forgot Password {% endblock %}
{% block content %}

    <div style="background-color: #ffffff;
            margin: 0;
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;" id="login_loader">
        <img src="{% static 'user/folder/assets/images/loader.gif' %}" style="max-height: 130px;" alt="loader">
    </div>

    <div class="col-lg-4 col-md-8 col-12 centerr marginn" id="temp">
        <div style="height: auto !important;">
            <div class="login-box-body"
                 style="border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;">
                <div class="row pbb-80">
                    <div class="col-12">
                        <div class="col-md-8 nonee display-block mx-auto display-flex h-100"
                             style=" justify-content: center; display: none; align-items: center;">
                            <a href="/">
                                <img class="width-255"
                                     src="{% static 'user/folder/assets/images/avtar/music_club.png' %}" alt="">
                            </a>
                        </div>
                        <h3 class="text-center pb-5">Welcome <span class="nonne"> To Music Club </span></h3>
                        <h3 class="login-box-msg">Forgot Password</h3>

                    </div>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        <label for="id_email">Email *</label>
                        <input type="email" name="email" class="form-control rounded" autocomplete="email" id="id_email"
                               maxlength="254" placeholder="Enter Email" required>
                        <span class="icon-adj fa fa-envelope form-control-feedback"></span>
                    </div>

                    {% if messages %}

                        {% for message in messages %}

                            <div class="row">
                                <div class="col-12">
                                    <div class="fog-pwd text-center">
                                        <div style="border-color: red !important;
                                                color: red !important;
                                                background-color: #ff5e5929 !important;"
                                             class="alert alert-info">
                                            {{ message }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                    {% endif %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-info btn-block margin-top-10">Change Password</button>
                        </div>
                    </div>
                    {% csrf_token %}
                </form>

            </div>

        </div>

    </div>

{% endblock %}

