{% extends 'masterpage/index-1.html' %}
{% block title3 %} Search Page {% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


        body {
            background-color: #eee;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
        }

        .search {
            position: relative;
            box-shadow: 0 0 40px rgba(51, 51, 51, .1);

        }

        .search input {

            height: 60px;
            text-indent: 25px;
            border: 2px solid #d6d4d4;


        }


        .search input:focus {

            box-shadow: none;
            border: 2px solid blue;


        }

        .search .fa-search {

            position: absolute;
            top: 20px;
            left: 16px;

        }

        .search button {

            position: absolute;
            top: 5px;
            right: 5px;
            height: 50px;
            width: 110px;
            background: blue;

        }
    </style>

    <!-- Main content -->
    <div class="content-wrapper">

        <section class="content-header">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="card-title">
                        Search Master
                    </h5>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4" style=" padding-top:12px; ">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/view/"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">
                                <i class="fa fa-search"></i>
                                Search Master
                            </a>
                        </li>
                        <li class="breadcrumb-item active text-capitalize">
                            Search Page
                        </li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-12"
                     style="padding: 0;border-bottom: 2px solid rgba(120,130,140,.13);margin-bottom: 25px; display:block;">
                    <div class="col-12 col-lg-6 col-xl-8 float-left">
                        <div class="search">
                            <i class="fa fa-search"></i>
                            <form method="POST" id="search_form">
                                <input type="text" class="form-control" name="search-param"
                                       placeholder="Enter Any Words To Search Data" required/>
                                <input type="hidden" id="searchdata" value=""/>
                                <input type="hidden" id="filter_name" value=""/>
                                <button class="btn btn-primary" type="submit">Search</button>
                                <ul class="sidebar-menu" data-widget="tree">
                                    <li class="treeview ">
                                        <a href="#" class="col-md-3">
                                            <span style="font-weight: 400; font-size: 20px; color: black; ">
                                                <i class="fa fa-filter"></i>
                                                Filters  :
                                            </span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-right pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu  mt-2" style="background: none !important;">
                                            <li>
                                                <div>
                                                    <div class="media" data-provide="selectable"
                                                         style="padding: 10px !important;">
                                                        <div class="media-left">
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="radio" id="md_checkbox_1"
                                                                       class="filled-in chk-col-blue" name="filter"
                                                                       value="type"/>
                                                                <label for="md_checkbox_1">Type</label>
                                                            </label>
                                                        </div>
                                                        <div class="media-left">
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="radio" id="md_checkbox_2"
                                                                       class="filled-in chk-col-blue" name="filter"
                                                                       value="account"/>
                                                                <label for="md_checkbox_2">Account</label>
                                                            </label>
                                                        </div>
                                                        <div class="media-left">
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="radio" id="md_checkbox_3"
                                                                       class="filled-in chk-col-blue" name="filter"
                                                                       value="category"/>
                                                                <label for="md_checkbox_3">Category</label>
                                                            </label>
                                                        </div>
                                                        <div class="media-left">
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="radio" id="md_checkbox_4"
                                                                       class="filled-in chk-col-blue" name="filter"
                                                                       checked value="all">
                                                                <label for="md_checkbox_4">All</label>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-4 float-left">
                        <div class="box">
                            <div class="box-body">
                                <div class="text-center">
                                    <a href="javascript:void(0)">
                                        <h3 class=" db mr-2" style="width: auto; float: left;">
                                        <span>
                                            <i style="margin-right: 20px;" class="fa fa-info-circle"
                                               aria-hidden="true"></i>
                                        </span>
                                            Income :
                                        </h3>
                                        <div style="padding-top: 8px;">
                                            <input type="text"
                                                   style="width: 120px !important; font-weight: bold; font-size: 15px; font-family: cursive; float: left;"
                                                   id="bal-1" value="0" class="form-control mr-1" readonly/>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="text-center">
                                    <a href="javascript:void(0)">
                                        <h3 class=" db mr-2" style="width: auto; float: left;">
                                        <span>
                                            <i style="margin-right: 20px;" class="fa fa-info-circle"
                                               aria-hidden="true"></i>
                                        </span>
                                            Expense :
                                        </h3>
                                        <div style="padding-top: 8px;">
                                            <input type="text"
                                                   style="width: 120px !important; font-weight: bold; font-size: 15px; font-family: cursive; float: left;"
                                                   id="bal-2" value="0" class="form-control mr-1" readonly/>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="display: none;" id="search_page">
                    <div class="box">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table text-center table-bordered table-hover display nowrap" style="color: black !important;" id="myTable">
                                    <thead>
                                    <tr>
                                        <th>Transaction No.</th>
                                        <th>Date</th>
                                        <th>Category</th>
                                        <th>Account</th>
                                        <th>Amount</th>
                                        <th>note</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                                <h1 id="nodatass" style="display: none">
                                    NO DATA
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="display: none;" id="search_page_1">
                    <div class="box">
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table text-center table-bordered table-hover display nowrap" style="color: black !important;" id="myTable_1">
                                    <thead>
                                    <tr>
                                        <th>Transaction No.</th>
                                        <th>Date</th>
                                        <th>From Account</th>
                                        <th>To Account</th>
                                        <th>Amount</th>
                                        <th>note</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                                <h1 id="nodatass_1" style="display: none">
                                    NO DATA
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!-- /.content -->
    </div>


    <!-- sample modal content -->
{% endblock %}