{% extends 'masterpage/index-1.html' %}
{% load crispy_forms_tags %}
{% block title %} Master {% endblock %}
{% block title2 %} Change Password {% endblock %}
{% block title3 %} Change Password {% endblock %}
{% block content %}

    <div class='content-wrapper'>
        <section class="content-header">
            <div class="row">
                <div class="col-md-3">
                    <h5 class="card-title">
                        Password Master
                    </h5>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4" style=" padding-top:12px; ">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/view/"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0)">
                                <i class="fa fa-lock"></i>
                                Password Master
                            </a>
                        </li>
                        <li class="breadcrumb-item active text-capitalize">
                            Change Password
                        </li>
                    </ol>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <input id="open_li" value="0" type="hidden" name="open_li">
                    <!--                <div class="mb-2 o-hidden border-0 text-center shadow-lg p-4 mt-2">-->
                    <!--                <h1 class="h3 mb-0 text-gray-800">Change Password</h1>-->
                    <!--                </div>-->
                    <!-- Main Content Here -->
                    <div class="card o-hidden border-0 shadow-lg">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <div class="p-5"
                                         style="padding-top: 35px !important; padding-bottom: 20px !important; ">
                                        {% if request.session.private_admin != 'demo' %}
                                            <form method="POST">
                                                {% csrf_token %}
                                        {% endif %}
                                            {% if request.session.private_admin == 'demo' %}
                                                <div id="access" class="form-group">  
                                                    <div> 
                                                        <input type="text" name="access" class="textinput textInput form-control text-danger text-center" style="border: 2px solid #ff0000; background-color:#ffc4c499;" readonly value="Access Denied" >
                                                    </div> 
                                                </div> 
                                            {% endif %}
                                            {{ form | crispy }}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <div class="alert alert-{{ message.tags }}"
                                                    style="border-color: #1e88e5 !important;
                                                color: #1e88e5 !important;
                                                background-color: #403df41a !important;">
                                                        {{ message }}
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% if request.session.private_admin != 'demo' %}
                                            <button type="submit" class="btn btn-success btn-block mb-2">Change</button>
                                        {% endif %}
                                            <a href="/view/">
                                                <button type="button" class="btn btn-danger btn-block">Back</button>
                                            </a>
                                        {% if request.session.private_admin != 'demo' %}
                                            </form>
                                        {% endif %}
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}